<div class="sort">
    <form [formGroup]="sortMatchForm">
        <div class="sortBy">
            <div class="icon">
                <svg ibmIcon="menu" style="fill: white;" size="24" title="Hello!"></svg>
            </div>
            <select formControlName="competitionName" #competition (change)="selectCompetition(competition.value)">
                <option [ngValue]="null" disabled>Sort By Competition</option>
                <option *ngFor="let competition of competitions" [ngValue]="competition.name">{{competition.name}}
                </option>
            </select>
            <div class="cleanUp"><button (click)="cleanUpCompetition()"><svg ibmIcon="close" size="24" title="Hello!"></svg></button></div>
        </div>
        <div class="sortBy">
            <div class="icon">
                <svg ibmIcon="earth" style="fill: white;" size="24" title="Hello!"></svg>
            </div>
            <select formControlName="seasonName" #season (change)="selectSeason(season.value)">
                <option disabled [ngValue]="null">Sort By Season</option>
                <option *ngFor="let season of seasons" [ngValue]="season">{{season}}</option>
            </select>
            <div class="cleanUp"><button (click)="cleanUpSeason()"><svg ibmIcon="close"  size="24" title="Hello!"></svg></button></div>
        </div>
    </form>
</div>