<div class="sort">
    <form [formGroup]="sortMatchForm">
    <div class="sortBy">
        <p>Sort by Competition</p>
        <select formControlName="competitionName" #competition (change)="selectCompetition(competition.value)">
            <option [ngValue]="null" disabled>Sort By Competition</option>
            <option *ngFor="let competition of competitions" [ngValue]="competition.name">{{competition.name}}</option>
        </select>
    </div>
    <div class="sortBy">
        <p>Sort By Season</p>
        <select formControlName="seasonName" #season (change)="selectSeason(season.value)" >
            <option disabled>Sort By Season</option>
            <option *ngFor="let season of seasons" [ngValue]="season">{{season}}</option>
        </select>
    </div>
    <!-- <div class="sortBy">
        <p>Sort By Date</p>
        <div class="row">
        <p>From</p>
        <input  type="date">
        <p>To</p>
        <input  type="date">
    </div>
    </div> -->
    </form>
</div>